body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.wave{
    z-index: -1;
    position: absolute;
}

.ini-message{
    text-align: center;
    margin: 5%;
    font-weight: bold;
    font-size: 300%;
    color: white;
}

.centered{
    text-align: center;
    margin-top: 15%;
    color: black;
    font-weight: bolder;
    
}

.inputs{
    color: white;
    border: 3px solid rgb(53, 53, 53);
    background-color: black;
    margin: 2px;
    border-radius: 5px;
    font-weight: bolder;
}

.text-inputs{
    width: 20%;
    height: 20px;
    border: 5px solid rgb(53, 53, 53) ;
    background-color: white;
    color: black;
}

.circle{
    position: fixed;
    top: 50%;
    left: 50%;
    
    width: 150px;
    height: 150px;
    border-radius: 90px;
    z-index: -1;
}