
.inputs,
.forgor,
.text-inputs {
  width: 80%;
}

.forgor {
  position: absolute;
  margin-top: 2em;
  padding: 0.6rem 1rem;
  right: 0;
  left: 6rem;
  color: #287b97;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: none;
}
.forgor:hover {
  text-decoration: underline;
}

.noAccount {
  color: #287b97;
} 
