body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
 font-family: 'roboto';
}


#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wave {
  z-index: -1;
  position: absolute;
}

.ini-message {
  text-align: center;
  margin: 5%;
  font-weight: bold;
  font-size: 300%;
  color: white;
}



.container  {
  margin-top:-1%;
  color: white;
  background:linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.46));
  width:fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  padding: 50px 35px;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 0 0 40px rgba(8, 7, 6, 0.6);
  letter-spacing: 0.3px;
  position: relative;
  width: 17%;
  
  
}



.excluded{
  text-align: left;
}




.inputs {
  color: rgba(255, 255, 255, 0.808);
  margin: 5px;
  background-color: blue;
  border: none;
  outline: none;
  font-weight: bolder;
  width: 70%;
  transform: skew(-20deg);
  padding: 10px;
  
}

.inputs:hover{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

.forgor{
  text-align: center;
  color: rgba(255, 255, 255, 0.808);
  margin: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
 height: fit-content;
  outline: none;
  font-weight: bolder;
  width: 70%;
  transform: skew(-20deg);
  padding: 10px;
}


.text-inputs {
  width: 80%;
  height: 25px;
  margin-bottom:10% ;
  border: none;
  border-bottom: 2px solid grey;
  outline: none;
  background: transparent;
  color: rgb(255, 255, 255);
}

.text-inputs::placeholder{
  color: rgba(227, 227, 227, 0.823);
  font-family: 'roboto';
}




