.forgor {
  position: absolute;
  left: 6rem;
  color: #287b97;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: none;
  width: 80%;
  margin-top: 11em;
  margin-left: 1.5em;
}
.forgor:hover {
  text-decoration: underline;
}

.noAccount{
  margin-top: 3em;
  color:#287b97;
}


